@model TDDTutorial.Models.Project

<h2>Stories</h2>

<ol>
    <li>Should show % profit for each sprint</li>
    <li>Should show total Revenue for all completed sprints</li>
    <li>Should show total Cost for all completed sprints</li>
</ol>

<h2>Team Profit</h2>

<table class="table">
    <tr>
        <th>Sprint</th>
        <th>Cost</th>
        <th>Revenue</th>
        <th>Complete</th>
        <th>Profit</th>
    </tr>
    @foreach (var sprint in Model.Sprints)
    {
        <tr>
            <td>@sprint.Id</td>
            <td>@sprint.Cost</td>
            <td>@sprint.Revenue</td>
            <td>
    @sprint.IsCompleted
        </td>
        <td>@sprint.Profit</td>
        </tr>
    }
    <tr>
        <th>Total</th>
        <td>@Model.TotalCost()</td>
        <td>@Model.TotalRevenue()</td>
    </tr>
</table>

